@mixin bar-style (
	$bar-bg: $bar-default-bg,
	$bar-color: $bar-default-color,
	$bar-border-color: $bar-default-border-color,
	$bar-border-width: 1px,
	$bar-border-style: solid
) {
	height: $bar-height;
	background-color: $bar-bg;

	border-bottom: $bar-border-width $bar-border-style $bar-border-color;
	border-top: $bar-border-width $bar-border-style $bar-border-color;

	.title {
		color: $bar-color;
	}
}