@mixin bar-style (
	$bar-bg: $bar-default-bg,
	$bar-color: $bar-default-color,
	$bar-border-color: $bar-default-border-color
) {
	height: $bar-height;
	background-color: $bar-bg;
	border-color: $bar-border-color;

	.title {
		color: $bar-color;
	}
}