.backdrop {
	position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: $backdrop-bg;
  z-index: $z-index-backdrop;
  display: none;

  &.mb-visible-add,
	&.mb-visible-remove {
		transition: 200ms background-color ease-in-out;
		display: block !important;
	}

  &.mb-visible {
  	display: block;
  }

	&.mb-visible-remove {
		background-color: rgba(0,0,0,0.3);

		&.mb-visible-remove-active {
			background-color: rgba(0,0,0,0);
		}
	}

	&.mb-visible-add {
		background-color: rgba(0,0,0,0);

		&.mb-visible-add-active {
			background-color: rgba(0,0,0,0.3);
		}
	}
}