@mixin bar ($bar-height: $bar-height, $bar-bg: $bar-default-bg, $bar-color: $bar-default-color) {
	height: $bar-height;
	background-color: $bar-bg;
  width: 100%;
  display: block;
  text-align: center;

	.title {
		line-height: $bar-height;
		user-select: none;
		margin: 0px;
		color: $bar-color;
	}

	.bar-left,
	.bar-right {
	  padding: 3.8px;
	  top: 0px;
	  position: absolute;

	  .fa {
			font-size: 20px;
		}
	}

	.bar-left {
  	left: 0px;
  }

  .bar-right {
  	right: 0px;
  }
}