@import "variables";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

/* arguments table */
.variables-matrix {
  border:1px solid #ddd;
  width:100%;
  margin:10px 0;

  td,
	th {
	  padding:10px;
	}

	td {
	  border-top:1px solid #eee;
	}

	td + td,
	th + th {
	  border-left:1px solid #eee;
	}

	tr:nth-child(even) td {
	  background:#f5f5f5;
	}

	th {
	  background:#f1f1f1;
	}

	td {
	  vertical-align:top;
	  padding:5px;
	}
}


.mb-highlight {
	transition: 300ms border-width ease-in-out;

	border-style: solid;
	border-color: #EBEBF2;
	border-width: 0px;

	&:hover {
		border-left-width: 3px;
	}
}

.runnable-example {
	@include make-row();
	.runnable-example-file {
		@include make-md-column(7);
		&:not(.mb-visible) {
			// display: none;
		}
	}
	.runnable-example-frame {
		@include make-md-column(5);

		iframe {
		  border: 1px solid #E8E8E8;
		  padding: 0px;
		  border-radius: 4px;
		  min-height: 450px;
		}
	}

	.runnable-example-tabs {
		margin-bottom: 5px;
		@include make-md-column(12);
	}
}

pre {
	font-size: 85%;
}

[mb-affix-href] {
	cursor: pointer;
}

[mb-first-view] {
	padding-bottom: 150px;
}

[mb-affix-mobile-template] {
	transition: 200ms opacity ease-in-out;
	opacity: 1;

	&.mb-hidden {
		opacity: 0;
	}
}

.mb-affix-active-add,
.mb-affix-active-remove {
	transition: 200ms opacity ease-in-out;
}

.footer {
  position: relative;
  z-index: 100;
  padding: 20px 0 0 0;
  background: #2b3442;
  color: #a4b3cd;
  text-align: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
  min-height: 470px;
}

.phone-example-right {
	&:not(.mb-affix-active) {
		display: none;
	}
}

.mb-affix-column {
	> ul {
		li {
			padding: 7px 0px;
			&:not(.mb-affix-active) {
				ul {
					position: absolute;
					top: -9999px;
					left: -9999px;
				}
			}
		}
	}

	ul {
		margin-bottom: 10px;
		list-style-type: none;
		padding: 0px;

		> li {
			&.mb-affix-active {
				> a {
					border-right: 2px solid #4F8EF7;
					color: #4F8EF7;
				}
			}

			&:hover a {
				text-decoration: none;
			}

			> a {
				color: $text-color;
				cursor: pointer;
				transition: 200ms color ease-in-out;
				width: 100%;
				display: block;
			}

			&:not(.mb-affix-active) > a {
				&:hover {
					color: darken($text-color, 9%);
				}
			}

			> ul {
				padding-left: 10px;
				margin-top: 6px;

				> li > a {
					font-size: 90%;
					margin-bottom: 6px;
				}
			}
		}
	}
}

[mb-device-preview] {
	padding: 0px;

	mb-affix-iframe {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  width: 100%;

	  .backdrop {
	  	position: fixed;
		  top: 0px;
		  left: 0px;
		  width: 100%;
		  height: 100%;
		  background-color: rgba(0,0,0,0.8);
		  transition: 200ms opacity ease-in-out;

		  &.ng-enter,
		  &.ng-leave {
		  	display: block;
		  }

		  &.ng-leave {
		  	opacity: 1;

		  	&.ng-leave-active {
		  		opacity: 0.3;
		  	}
		  }

		  &.ng-enter {
		  	opacity: 0.3;

		  	&.ng-enter-active {
		  		opacity: 1;
		  	}
		  }
	  }

		iframe {
		  width: 100%;
		  margin: 0px;
		  padding: 0px;
		  border: 0px;
		}

		.fa.fa-spin {
		  position: absolute;
		  top: 50%;
		  font-size: 800%;
		  left: 33%;
		  z-index: 1;
		  color: #525252;
		  opacity: 0.4;
		}

		.backdrop+.fa.fa-spin {
			color: #ddd;
			opacity: 1;
		}
	}
		
	&.fixed-preview {
		position: fixed;
		right: auto;
		transform: translate3d(0, 0, 0);
		top: 19px;
	}
}

.mb-affix-right-column {
  border: 1px solid #eee;

  iframe {
  	overflow: hidden;
  }
  
  &, iframe {
  	height: 505px;
  }
}

.mb-affix-column-fixed+.affix-contents {
	@include make-md-column-offset(2);
}

.affix-content-section {
	padding-top: 20px;
	padding-bottom: 60px;
	min-height: 320px;
	transition: 200ms transform ease-in-out;

	h3 {
		margin-top: 0px;

		a {
			transition: 200ms color ease-in-out;
			color: $text-color;
			cursor: pointer;

			&,&:hover {
				text-decoration: none;
			}

			&:hover {
				color: darken(#4F8EF7, 16%);

				// show the # before the header name
				&:before {
				  content: '#';
				  position: absolute;
				  left: -5px;
				  color: #6c6c6c;
				}
			}
		}
	}

	&.mb-affix-active {
		color: darken($text-color, 12%);
	}
}

.return-arguments,
.return-arguments th,
.return-arguments th + th,
.return-arguments td,
.return-arguments td + td {
  border-radius:0;
  border:0;
}

.return-arguments td:first-child {
  width:100px;
}

.methods,
.column-left ul,
.usage ul {
	list-style-type: none;
	padding: 0px;
}

.label.type-hint-promise {
	@extend .label-default;
}

.type-hint-function {
	@extend .label-primary;
}

.type-hint-object {
	@extend .label-warning;
}

.type-hint-string {
	@extend .label-success;
}

.iframe-mobile-example {
	border: 2px solid #eee;
	border-radius: 10px;
	/*width="320"*/
}

.column-left.ng-hide+.col-xs-12 {
	@include make-lg-column(12);
}

.hljs {
	background-color: transparent;
}