@import "variables";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

[mb-affix-mobile-template] {
	transition: 200ms opacity ease-in-out;
	opacity: 1;

	&.mb-hidden {
		opacity: 0;
	}
}

.mb-affix-active-add,
.mb-affix-active-remove {
	transition: 200ms opacity ease-in-out;
}

.footer {
  position: relative;
  z-index: 100;
  padding: 20px 0 0 0;
  background: #2b3442;
  color: #a4b3cd;
  text-align: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
  min-height: 470px;
}

.phone-example-right {
}
.phone-example-right:not(.mb-affix-active) {
	display: none;
}

.mb-affix-column {
	ul {
		margin-bottom: 10px;

		> li {
			&.mb-affix-active {
				> a {
					border-right: 2px solid #4F8EF7;
					color: #4F8EF7;
				}
			}

			&:hover a {
				text-decoration: none;
			}

			> a {
				color: $text-color;
				cursor: pointer;
				transition: 200ms color ease-in-out;
				width: 100%;
				display: block;

				&:hover {
					color: darken($text-color, 9%);
				}
			}

			> ul {
				padding-left: 10px;
				margin-top: 6px;

				> li > a {
					font-size: 90%;
				}
			}
		}
	}
}

[mb-device-preview] {
	padding: 0px;
	iframe {
	  width: 100%;
	  margin: 0px;
	  padding: 0px;
	  border: 0px;
	  height: 100%;
	}
	&.fixed-preview {
		position: fixed;
		right: auto;
		transform: translate3d(0, 0, 0);
		top: 19px;
	}
}

.mb-affix-right-column {
  border: 1px solid rgb(238, 238, 238);
  
  &, iframe {
  	border-radius: 10px;
  	height: 500px;
  }
}

.mb-affix-column-fixed+.affix-contents {
	@include make-md-column-offset(2);
}

.affix-content-section {
	padding-top: 20px;
	padding-bottom: 60px;
	min-height: 320px;
	transition: 200ms transform ease-in-out;

	h3 {
		margin-top: 0px;
	}

	&.mb-affix-active {
		color: darken($text-color, 12%);
	}
}

ul {
	list-style-type: none;
	padding: 0px;
}

.label.type-hint-promise {
	@extend .label-default;
}

.type-hint-object {
	@extend .label-warning;
}

.type-hint-string {
	@extend .label-success;
}

table.variables-matrix {
	thead {
		th {
			padding: 8px 5px;
		}
	}
	td {
		display: block;
  	float: left;
  	margin-right: 8px;
	}
}

.iframe-mobile-example {
	border: 2px solid #eee;
	border-radius: 10px;
	/*width="320"*/
}

.column-left.ng-hide+.col-xs-12 {
	@include make-lg-column(12);
}

.hljs {
	background-color: transparent;
}