body.mb-modal-visible {
	overflow: hidden;
}

.modal {
	display: block;
	position: absolute;
	top: 0;
	z-index: $z-index-modal;
	min-height: 100%;
	width: 100%;
	background-color: $modal-bg;
	color: $modal-color;
	transform: translate3d(0,100%,0);

	&.mb-hidden {
		display: none;
	}

	&.mb-visible {
		transform: translate3d(0,0,0);
	}
}