.sidenav {
	width: 80%;
	height: 100%;
	z-index: $z-index-sidenav;
	position: fixed;
	background-color: $sidenav-bg;
	transform: translate3d(0,0,0);

	&.mb-hidden {
		transform: translate3d(-100%,0,0);
	}

	// &.mb-hidden-add,
	// &.mb-hidden-remove {
	// 	animation-duration: 300ms;
	// 	animation-timing-function: ease-in-out;
	// }

	// &.mb-hidden-add,
	// &.mb-hidden-add-active {
	// 	animation-name: slideOutLeft;
	// }

	// &.mb-hidden-remove,
	// &.mb-hidden-remove-active {
	// 	animation-name: slideInLeft;
	// }

	.list{
		.item {
			border-top-width: 0px;
			border-left-width: 0px;
			border-right-width: 0px;

			a {
				color: #387ef5;
				text-decoration: none;
			}
		}
	}
}