// Colors
// -------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;


// Base
// -------------------------------

$font-family-sans-serif:          "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-family-light-sans-serif:    "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$font-family-base:                $font-family-sans-serif !default;
$font-size-base:                  14px !default;
$font-size-large:                 18px !default;
$font-size-small:                 11px !default;

$line-height-base:                1.428571429 !default; // 20/14
$line-height-computed:            floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-large:               1.33 !default;
$line-height-small:               1.5 !default;

$headings-font-family:            $font-family-base !default;
$headings-font-weight:            500 !default;
$headings-line-height:            1.2 !default;

$base-background-color:           #fff !default;
$base-color:                      #000 !default;

$link-color:                      $positive !default;
$link-hover-color:                darken($link-color, 15%) !default;

$content-padding:                 10px !default;

$padding-base-vertical:           6px !default;
$padding-base-horizontal:         12px !default;

$padding-large-vertical:          10px !default;
$padding-large-horizontal:        16px !default;

$padding-small-vertical:          5px !default;
$padding-small-horizontal:        10px !default;

$border-radius-base:              4px !default;
$border-radius-large:             6px !default;
$border-radius-small:             3px !default;


// Grids
// -------------------------------

$grid-padding-width:              10px !default;
$grid-responsive-sm-break:        567px !default;  // smaller than landscape phone
$grid-responsive-md-break:        767px !default;  // smaller than portrait tablet
$grid-responsive-lg-break:        1023px !default; // smaller than landscape tablet


// Item
// -------------------------------

$item-border-width:								1px !default;
$item-padding:										16px !default;

$item-default-bg:									#fff !default;
$item-default-bg-active:					darken($item-default-bg, 10%) !default;

$item-divider-bg:                 #f5f5f5 !default;
$item-divider-color:              #222 !default;
$item-divider-padding:            5px 15px !default;


// List
// -------------------------------


// Checkbox
// -------------------------------
$checkbox-width:									28px !default;
$checkbox-height:									28px !default;
$checkbox-border-radius:					$checkbox-width !default;
$checkbox-border-width:						1px !default;

$checkbox-off-border-default:     #ddd !default;
$checkbox-on-bg-default:          #387ef5 !default;
$checkbox-on-border-default:      $checkbox-on-bg-default !default;
$checkbox-off-bg-color:						#fff !default;

$checkbox-check-width:            1px !default;
$checkbox-check-color:            #fff !default;


// Sidenav
// -------------------------------

$sidenav-width: 									80% !default;
$sidenav-bg:											#fff !default;


// Backdrop
// -------------------------------

$backdrop-bg:											rgba(0,0,0,0.5) !default;


// Modal
// -------------------------------

$modal-bg:												#fff !default;
$modal-color:											#000 !default;


// Button
// -------------------------------

$button-padding:									12px !default;
$button-bg:												#387ef5 !default;
$button-active-bg:								darken($button-bg, 8%) !default;
$button-color:										#fff !default;
$button-border:										darken($button-bg, 7%) !default;

$button-bar-button-font-size:			13px !default;


// Bar
// -------------------------------

$bar-height:                      44px !default;
$bar-title-font-size:             17px !default;
$bar-padding-portrait:            5px !default;
$bar-padding-landscape:           5px !default;
$bar-transparency:                1 !default;

$bar-default-bg:                  #387ef5 !default;
$bar-default-color:               #fff !default;
$bar-default-border:              $bar-default-bg !default;
$bar-default-active-bg:           $bar-default-bg !default;
$bar-default-active-border:       $bar-default-bg !default;


// Z-Indexes
// -------------------------------

$z-index-bar:               0 !default;
$z-index-item:              0 !default;
$z-index-backdrop:          9 !default;
$z-index-popup:      	      10 !default;
$z-index-sidenav:           10 !default;
$z-index-modal:           	10 !default;