doctype html
html(ng-app="device-example-app")
	head
		link(href="../lib/mobie.css", rel="stylesheet")
	body
		block content

		script(src="../lib/Faker/build/build/faker.min.js")
		script(src="../lib/angular/angular.js")
		script(src="../lib/mobie.js")
		script(src="../js/app.js")