doctype html
html(ng-app="device-example-app", ng-strict-di)
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="../lib/ionicons/css/ionicons.min.css", rel="stylesheet")
		link(href="../lib/mobie.css", rel="stylesheet")
	body
		block content

		script(src="../lib/Faker/build/build/faker.min.js")
		script(src="../lib/lodash/lodash.min.js")
		script(src="../lib/angular/angular.min.js")
		script(src="../lib/angular-animate/angular-animate.min.js")
		script(src="../lib/mobie.js")
		script(src="../lib/mobie.tpl.js")
		script(src="../js/app.js")