extends ./base.mobile.jade

block content
	.bar.bar-header
		h4.title Brand default
	.bar.bar-primary.bar-header
		h4.title Brand primary
	.bar.bar-success.bar-header
		h4.title Brand success	
	.bar.bar-header.bar-danger
		h4.title Brand danger
	.bar.bar-header.bar-info
		h4.title Brand info