extends ./base.mobile.jade

block content
	div(ng-controller="FakerController as fakerCtrl")
		.bar.bar-header
			.button-bar
				a.button First
				a.button Second
				a.button Third
		.padding
			p
				.button-bar
					a.button First
					a.button Second
					a.button Third
			p
				.button-bar
					a.button.button-primary First
					a.button.button-primary Second
					a.button.button-primary Third
			p
				.button-bar
					a.button.button-danger First
					a.button.button-danger Second
					a.button.button-danger Third