extends ./base.mobile.jade

block content
	div(ng-controller="FakerController as fakerCtrl")
		.bar.bar-header
			button.button.icon.ion-navicon.button-icon
			h3.title Header Buttons
			button.button.button-clear.button-primary Edit