extends ./base.mobile.jade

block content
	.bar.bar-header
		h4.title Cards
	.card
		.item.item-text-wrap
			| Lorem ipsum dolor sit amet, consectetur
			| adipisicing elit. Porro eius temporibus
			| hic nisi quisquam voluptatibus blanditiis
			| sit quas, minus assumenda impedit quaerat
			| maiores commodi ipsum doloremque rem ipsa
			| amet consequatur.