extends ./base.mobile.jade

block content
	.bar.bar-header
		h4.title Cards Lists
	.list.card
		a.item.item-icon-left
			i.icon.ion-home
			| Enter home address
		a.item.item-icon-left
			i.icon.ion-ios-telephone
			| Enter phone number
		a.item.item-icon-left
			i.icon.ion-wifi
			| Enter wireless password
		a.item.item-icon-left
			i.icon.ion-card
			| Enter card information