extends ./base.mobile.jade

block content
	.bar.bar-header
		h4.title Cards
	.card
		.item.item-divider Card header
		.item.item-text-wrap This is a basic Card with some text.
		.item.item-divider Card footer
		.item.item-text-wrap This is a basic Card with some text (it isn't right)
		.item.item-divider Whatever, you do how many footers you want to