extends ./base.mobile.jade

block content
	.bar.bar-header
		h4.title Input Icons
	.list.list-inset
		.item.item-input
			i.icon.ion-search.placeholder-icon
			input(type="search", placeholder="Search")