extends ./base.mobile.jade

block content
	.bar.bar-header.item-input-inset
		label.item-input-wrapper
			i.icon.ion-ios-search.placeholder-icon
			input(type="search", placeholder="Search for something")
		.button.button-clear Cancel