extends ./base.mobile.jade

block content
	.bar.bar-header
		h4.title Range
	.list
		.item.range
			i.icon.ion-ios-volume-low
			input(type="range", value="50")
			i.icon.ion-ios-volume-high
		.item.item-divider Lots of ranges
		.item.range
			i.icon.ion-ios-sunny-outline
			input(type="range", value="12")
			i.icon.ion-ios-sunny
		.item.range
			i.icon.ion-ios-lightbulb-outline
			input(type="range", value="25")
			i.icon.ion-ios-lightbulb-outline
		.item.range
			i.icon.ion-ios-bolt-outline
			input(type="range", value="38")
			i.icon.ion-ios-bolt
		.item.range
			i.icon.ion-ios-moon-outline
			input(type="range", value="50")
			i.icon.ion-ios-moon
		.item.range
			i.icon.ion-ios-partlysunny-outline
			input(type="range", value="63")
			i.icon.ion-ios-partlysunny
		.item.range
			i.icon.ion-ios-rainy-outline
			input(type="range", value="75")
			i.icon.ion-ios-rainy
		.item.range
			i.icon.ion-ios-lightbulb
			input(type="range", value="88")
			i.icon.ion-ios-lightbulb-outline