extends ./tabs-example-base.mobile.jade

block tabs
	.tabs.tabs-icon-left.fixed-bottom
		a.tab-item
			i.icon.ion-home
			| Home
		a.tab-item
			i.icon.ion-star
			| Favorites
		a.tab-item
			i.icon.ion-gear-a
			| Settings