extends ./base.mobile.jade

block content
	div(ng-controller="FakerController as fakerCtrl")
		.bar.bar-header
			h4.title Tabs
		div(ng-switch, on="tab")
			.list(ng-switch-when="favorites")
				.card.list(ng-repeat="person in fakerCtrl.persons | limitTo: 3 track by $index")
					.item.item-avatar
						img(ng-src="{{ person.avatarUrl }}")
						h3 {{person.name}}
						p {{person.bio}}
					.item.item-image
						img(ng-src="{{ person.avatarUrl }}")
			.list(ng-switch-when="settings")
				.item.range
					i.icon.ion-ios-volume-low
					input(type="range", value="50")
					i.icon.ion-ios-volume-high
				.item.item-divider Lots of ranges
				.item.range
					i.icon.ion-ios-sunny-outline
					input(type="range", value="12")
					i.icon.ion-ios-sunny
				.item.range
					i.icon.ion-ios-lightbulb-outline
					input(type="range", value="25")
					i.icon.ion-ios-lightbulb-outline
				.item.range
					i.icon.ion-ios-bolt-outline
					input(type="range", value="38")
					i.icon.ion-ios-bolt
				.item.range
					i.icon.ion-ios-moon-outline
					input(type="range", value="50")
					i.icon.ion-ios-moon
				.item.range
					i.icon.ion-ios-partlysunny-outline
					input(type="range", value="63")
					i.icon.ion-ios-partlysunny
				.item.range
					i.icon.ion-ios-rainy-outline
					input(type="range", value="75")
					i.icon.ion-ios-rainy
				.item.range
					i.icon.ion-ios-lightbulb
					input(type="range", value="88")
					i.icon.ion-ios-lightbulb-outline
			.list(ng-switch-default)
				.item.item-divider Divider 1
				.item
					.item-content Item content
		block tabs