.bar {
	@include bar-style();

  width: 100%;
  display: block;
  text-align: center;
  position: relative;

  .title {
  	user-select: none;
		margin: 0px;
		line-height: $bar-height;
  }

	&.mb-fixed-top {
		transition: 300ms transform ease-in-out;
	}

	&.mb-visible {
		transform: translate3d(0,0%,0);
	}

	&.mb-hidden {
		transform: translate3d(0,-100%,0);
	}

	&.bar-primary {
		@include bar-style(
			$bar-bg: $bar-primary-bg,
			$bar-color: $bar-primary-color,
			$bar-border-color: $bar-primary-border-color
		);
  }

	// Header at top
	&.bar-header {
	  border-top-width: 0;
	  border-bottom-width: 1px;
	}
}

.sidenav.mb-visible+.bar.mb-fixed-top {
	transform: translate3d(0,-100%,0) !important;
}

[mb-back-button] {
	position: absolute;
	left: 5px;
	top: 5px;
	transition: 200ms opacity ease-in-out, 300ms transform ease-in-out;

	&.mb-hidden {
		display: none;
		opacity: 0;
	}

	&.mb-hidden-add,
	&.mb-hidden-remove,
	&.mb-visible-add,
	&.mb-visible-remove {
		display: block;
	}

	&.mb-hidden-remove {
		opacity: 0.3;
		transform: translate3d(20%,0,0);

		&.mb-hidden-remove-active {
			opacity: 1;
		}
	}

	&.mb-visible-add {
		&.mb-visible-add-active {
			transform: translate3d(0,0,0);
		}
	}

	&.mb-visible-remove {
		opacity: 1;
		transform: translate3d(0,0,0);

		&.mb-visible-remove-active {
			transform: translate3d(20%,0,0);
			opacity: 0.3;
		}
	}
}

.bar {
	/* border-width: 1px will actually create 2 device pixels on retina */
  /* this nifty trick sets an actual 1px border on hi-res displays */
  background-size: 0;
  @media (min--moz-device-pixel-ratio: 1.5),
         (-webkit-min-device-pixel-ratio: 1.5),
         (min-device-pixel-ratio: 1.5),
         (min-resolution: 144dpi),
         (min-resolution: 1.5dppx) {
    border: none;
    background-image: linear-gradient(0deg, $bar-default-border-color, $bar-default-border-color 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
}