.bar {
	@include bar-style();

  width: 100%;
  display: flex;
  user-select: none;
  transform: translate3d(0,0,0);
  padding: $bar-padding-portrait;

  .title {
  	position: absolute;

    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index-bar-title;
    overflow: hidden;

    margin: 0 10px;

    min-width: 30px;
    height: $bar-height - 1;

    text-align: center;

    // Go into ellipsis if too small
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: $bar-title-font-size;
    font-weight: $headings-font-weight;

    line-height: $bar-height;

    &.title-left {
      text-align: left;
    }

    &.title-right {
      text-align: right;
    }

		a {
			color: inherit;
		}
  }

	&.mb-fixed-top {
		transition: 300ms transform ease-in-out;
	}

	&.mb-visible {
		transform: translate3d(0,0%,0);
	}

	&.mb-hidden {
		transform: translate3d(0,-100%,0);
	}

	.button {
    z-index: $z-index-bar-button;
    padding: 0 $button-bar-button-padding;
    min-width: initial;
    font-weight: 400;
    font-size: $button-bar-button-font-size;
    line-height: $button-bar-button-height;

    .icon,
    &.icon,
    &.icon-left,
    &.icon-right,
    &.button-icon {
      &:before {
        padding-right: 2px;
        padding-left: 2px;
        font-size: $button-bar-button-icon-size;
        line-height: $button-bar-button-height;
      }
    }

    &.button-icon {
      font-size: $bar-title-font-size;

      &,
      .icon,
      &.icon-left,
      &.icon-right {
        &:before {
          vertical-align: top;
          font-size: $button-large-icon-size;
          line-height: $button-bar-button-height;
        }
      }
    }
    &.button-clear {
      padding-right: 2px;
      padding-left: 2px;
      font-weight: 300;
      font-size: $bar-title-font-size;

      .icon,
      &.icon,
      &.icon-left,
      &.icon-right {
        &:before {
          font-size: $button-large-icon-size;
          line-height: $button-bar-button-height;
        }
      }
    }

    &.back-button {
      display: block;
      margin-right: 5px;
      padding: 0;
      white-space: nowrap;
      font-weight: 400;
    }

    &.back-button.active,
    &.back-button.activated {
      opacity: 0.2;
    }
  }

  .button-bar > .button,
  .buttons > .button {
    line-height: $button-bar-button-height;
  }

  .button-bar + .button,
  .button + .button-bar {
    margin-left: 5px;
  }

  // Android 4.4 messes with the display property
  .buttons,
  .buttons.primary-buttons,
  .buttons.secondary-buttons {
    display: inherit;
  }
  .buttons span {
    display: inline-block;
  }
  .buttons-left span {
    margin-right: 5px;
    display: inherit;
  }
  .buttons-right span {
    margin-left: 5px;
    display: inherit;
  }

  // Place the last button in a bar on the right of the bar
  .title + .button:last-child,
  > .button + .button:last-child,
  > .button.pull-right,
  .buttons.pull-right,
  .title + .buttons {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
  }
}

// Bar header
.bar-header {
  border-top-width: 0;
  border-bottom-width: 1px;

  &.has-tabs-top{
    border-bottom-width: 0px;
    background-image: none;
  }
}

// Bar footer
.bar-footer {
  border-top-width: 1px;
  border-bottom-width: 0;
  background-position: top;

  height: $bar-footer-height;

  &.item-input-inset {
    position: absolute;
  }
}

// Don't render padding if the bar is just for tabs
.bar-tabs {
  padding: 0;
}

.tabs-top .bar-header{
  border-bottom-width: 0px;
  background-image: none;
}

.sidenav.mb-visible+.bar.mb-fixed-top {
	transform: translate3d(0,-100%,0) !important;
}

[mb-back-button] {
	position: absolute;
	left: 5px;
	top: 5px;
	transition: 200ms opacity ease-in-out, 300ms transform ease-in-out;

	&.mb-hidden {
		display: none;
		opacity: 0;
	}

	&.mb-hidden-add,
	&.mb-hidden-remove,
	&.mb-visible-add,
	&.mb-visible-remove {
		display: block;
	}

	&.mb-hidden-remove {
		opacity: 0.3;
		transform: translate3d(20%,0,0);

		&.mb-hidden-remove-active {
			opacity: 1;
		}
	}

	&.mb-visible-add {
		&.mb-visible-add-active {
			transform: translate3d(0,0,0);
		}
	}

	&.mb-visible-remove {
		opacity: 1;
		transform: translate3d(0,0,0);

		&.mb-visible-remove-active {
			transform: translate3d(20%,0,0);
			opacity: 0.3;
		}
	}
}

.bar {
	/* border-width: 1px will actually create 2 device pixels on retina */
  /* this nifty trick sets an actual 1px border on hi-res displays */
  background-size: 0;
  @media (min--moz-device-pixel-ratio: 1.5),
         (-webkit-min-device-pixel-ratio: 1.5),
         (min-device-pixel-ratio: 1.5),
         (min-resolution: 144dpi),
         (min-resolution: 1.5dppx) {
    border: none;
    background-image: linear-gradient(0deg, $bar-default-border-color, $bar-default-border-color 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
}