a.button,
.button {
	display: inline-block;
	margin: 0px;
	padding: $button-padding;
	color: $button-color;
	
	// border
	border-width: 1px;
	border-style: solid;
	border-color: $button-border;

	background-color: $button-bg;
	cursor: pointer;
	user-select: none;
	border-radius: 4px;

	// For anchor elements
	&:hover {
		text-decoration: none;
	}

	&:active {
		background-color: $button-active-bg;
		box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
	}

	&.button-block {
		width: 100%;
	}
}

.bar {
	.button {
		padding: ($button-padding / 3) 10px;
	  position: absolute;
	  bottom: 5px;
	  left: 5px;
	  font-size: $button-bar-button-font-size;
	  line-height: 1.9;

		&:nth-child(even) {
		  left: 5px;
		}

		.fa {
			font-size: 20px;
			line-height: 1.1;
		}
	}

	[mb-back-button].mb-visible+.button {
		display: none;
	}
}