// Linked list items
a.item {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.item {
	@include item-style(
    $item-default-bg,
    darken($item-default-bg, 10%),
    rgba(0,0,0,.60),
    $item-bg-active: darken($item-default-bg, 6%)
  );

	position: relative;
	display: block;
	z-index: $z-index-item;
	padding: $item-padding;
	border-width: $item-border-width;
	border-style: solid;
	margin: -1px 0px 0px -1px;
	font-size: 16px;

	h2 {
    margin: 0 0 2px 0;
    font-size: 16px;
    font-weight: normal;
  }
  h3 {
    margin: 0 0 4px 0;
    font-size: 14px;
  }
  h4 {
    margin: 0 0 4px 0;
    font-size: 12px;
  }
  h5, h6 {
    margin: 0 0 3px 0;
    font-size: 10px;
  }
  p {
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    &:last-child {
    	margin-bottom: 0;
    }
  }

  &,
  .item-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.item-divider {
    padding-top: ceil($item-padding / 2);
    padding-bottom: ceil($item-padding / 2);
    min-height: 30px;
    background-color: $item-divider-bg;
    color: $item-divider-color;
    font-weight: 500;
  }
}

// Item Avatar
// -------------------------------

.item-avatar,
.item-avatar .item-content,
.item-avatar-left,
.item-avatar-left .item-content {
  padding-left: $item-avatar-width + ($item-padding * 2);
  min-height: $item-avatar-width + ($item-padding * 2);

  > img:first-child,
  .item-image {
    position: absolute;
    top: $item-padding;
    left: $item-padding;
    max-width: $item-avatar-width;
    max-height: $item-avatar-height;
    width: 100%;
    height: 100%;
    border-radius: $item-avatar-border-radius;
  }
}

.item-avatar-right,
.item-avatar-right .item-content {
  padding-right: $item-avatar-width + ($item-padding * 2);
  min-height: $item-avatar-width + ($item-padding * 2);

  > img:first-child,
  .item-image {
    position: absolute;
    top: $item-padding;
    right: $item-padding;
    max-width: $item-avatar-width;
    max-height: $item-avatar-height;
    width: 100%;
    height: 100%;
    border-radius: $item-avatar-border-radius;
  }
}

/**
 * Complex Items
 * --------------------------------------------------
 * Adding .item-complex allows the .item to be slidable and
 * have options underneath the button, but also requires an
 * additional .item-content element inside .item.
 * Basically .item-complex removes any default settings which
 * .item added, so that .item-content looks them as just .item.
 */

.item-complex,
a.item.item-complex,
button.item.item-complex {
  padding: 0;
}
.item-complex .item-content,
.item-radio .item-content {
  position: relative;
  z-index: $z-index-item;
  padding: $item-padding (ceil( ($item-padding * 3) + ($item-padding / 3) ) - 5) $item-padding $item-padding;
  border: none;
  background-color: white;
}

a.item-content {
  display: block;
  color: inherit;
  text-decoration: none;
}

.item-text-wrap .item,
.item-text-wrap .item-content,
.item-text-wrap,
.item-text-wrap h1,
.item-text-wrap h2,
.item-text-wrap h3,
.item-text-wrap h4,
.item-text-wrap h5,
.item-text-wrap h6,
.item-text-wrap p,
.item-complex.item-text-wrap .item-content,
.item-body h1,
.item-body h2,
.item-body h3,
.item-body h4,
.item-body h5,
.item-body h6,
.item-body p {
  overflow: visible;
  white-space: normal;
}
.item-complex.item-text-wrap,
.item-complex.item-text-wrap h1,
.item-complex.item-text-wrap h2,
.item-complex.item-text-wrap h3,
.item-complex.item-text-wrap h4,
.item-complex.item-text-wrap h5,
.item-complex.item-text-wrap h6,
.item-complex.item-text-wrap p {
  overflow: visible;
  white-space: normal;
}