// Linked list items
a.item {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active {
		background-color: $item-default-bg-active;
	}
}

.item {
	@include item-style(
		$item-default-bg,
		darken($item-default-bg, 10%),
		rgba(0,0,0,.60),
		$item-bg-active: darken($item-default-bg, 6%)
	);

	position: relative;
	display: block;
	z-index: $z-index-item;
	padding: $item-padding;
	
	border-top-width: $item-border-width;
	border-top-style: solid;

	border-bottom-width: $item-border-width;
	border-bottom-style: solid;

	margin: 0px;
	margin-top: -1px;

	font-size: 16px;

	h2 {
		margin: 0 0 2px 0;
		font-size: 16px;
		font-weight: normal;
	}
	h3 {
		margin: 0 0 4px 0;
		font-size: 14px;
	}
	h4 {
		margin: 0 0 4px 0;
		font-size: 12px;
	}
	h5, h6 {
		margin: 0 0 3px 0;
		font-size: 10px;
	}
	p {
		color: #666;
		font-size: 14px;
		margin-bottom: 2px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	&,
	.item-content {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.item-divider {
	padding-top: ceil($item-padding / 2);
	padding-bottom: ceil($item-padding / 2);
	min-height: 30px;
	background-color: $item-divider-bg;
	color: $item-divider-color;
	font-weight: 500;
}


/**
 * Item select
 * --------------------------------------------------
 */

.item-select {
  position: relative;

  select {
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: ($item-padding - 2) ($item-padding * 3) ($item-padding) $item-padding;
    max-width: 65%;

    border: none;
    background: $item-default-bg;
    color: #333;

    // hack to hide default dropdown arrow in FF
    text-indent: .01px;
    text-overflow: '';

    white-space: nowrap;
    font-size: $font-size-base;

    cursor: pointer;
    direction: rtl; // right align the select text

	  &[multiple],
	  &[size] {
	    height: auto;
	  }
  }

  select::-ms-expand {
    // hide default dropdown arrow in IE
    display: none;
  }

  option {
    direction: ltr;
  }

  &:after {
    position: absolute;
    top: 50%;
    right: $item-padding;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    color: #999;
    content: "";
    pointer-events: none;
  }
}


/**
 * Radio Button Inputs
 * --------------------------------------------------
 */

.item-radio {
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

.item-radio .item-content {
  /* give some room to the right for the checkmark icon */
  padding-right: $item-padding * 4;
}

.item-radio .radio-icon {
  /* checkmark icon will be hidden by default */
  position: absolute;
  top: 0;
  right: 0;
  z-index: $z-index-item-radio;
  visibility: hidden;
  padding: $item-padding - 2;
  height: 100%;
  font-size: 24px;
}

.item-radio input {
  /* hide any radio button inputs elements (the ugly circles) */
  position: absolute;
  left: -9999px;

  &:checked ~ .item-content {
    /* style the item content when its checked */
    background: #f7f7f7;
  }

  &:checked ~ .radio-icon {
    /* show the checkmark icon when its checked */
    visibility: visible;
  }
}

// Hack for Android to correctly display the checked item
// http://timpietrusky.com/advanced-checkbox-hack
.platform-android.grade-b .item-radio,
.platform-android.grade-c .item-radio {
  -webkit-animation: androidCheckedbugfix infinite 1s;
}
@keyframes androidCheckedbugfix {
  from { padding: 0; }
  to { padding: 0; }
}


/**
 * Item Icons
 * --------------------------------------------------
 */

.item-icon-left .icon,
.item-icon-right .icon {
  display: flex;
  flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: $item-icon-font-size;

  &:before {
    display: block;
    width: $item-icon-font-size;
    text-align: center;
  }
}

.item .fill-icon {
  min-width: $item-icon-fill-font-size + 2;
  min-height: $item-icon-fill-font-size + 2;
  font-size: $item-icon-fill-font-size;
}

.item-icon-left {
  padding-left: ceil( ($item-padding * 3) + ($item-padding / 3) );

  .icon {
    left: ceil( ($item-padding / 3) * 2);
  }
}
.item-complex.item-icon-left {
  padding-left: 0;

  .item-content {
    padding-left: ceil( ($item-padding * 3) + ($item-padding / 3) );
  }
}

.item-icon-right {
  padding-right: ceil( ($item-padding * 3) + ($item-padding / 3) );

  .icon {
    right: ceil( ($item-padding / 3) * 2);
  }
}
.item-complex.item-icon-right {
  padding-right: 0;

  .item-content {
    padding-right: ceil( ($item-padding * 3) + ($item-padding / 3) );
  }
}

.item-icon-left.item-icon-right .icon:first-child {
  right: auto;
}
.item-icon-left.item-icon-right .icon:last-child,
.item-icon-left .item-delete .icon {
  left: auto;
}


// Item Image
// -------------------------------

.item-image {
  padding: 0;
  text-align: center;

  img:first-child, .list-img {
    width: 100%;
    vertical-align: middle;
  }
}


// Item Avatar
// -------------------------------

.item-avatar,
.item-avatar .item-content,
.item-avatar-left,
.item-avatar-left .item-content {
	padding-left: $item-avatar-width + ($item-padding * 2);
	min-height: $item-avatar-width + ($item-padding * 2);

	> img:first-child,
	.item-image {
		position: absolute;
		top: $item-padding;
		left: $item-padding;
		max-width: $item-avatar-width;
		max-height: $item-avatar-height;
		width: 100%;
		height: 100%;
		border-radius: $item-avatar-border-radius;
	}
}

.item-avatar-right,
.item-avatar-right .item-content {
	padding-right: $item-avatar-width + ($item-padding * 2);
	min-height: $item-avatar-width + ($item-padding * 2);

	> img:first-child,
	.item-image {
		position: absolute;
		top: $item-padding;
		right: $item-padding;
		max-width: $item-avatar-width;
		max-height: $item-avatar-height;
		width: 100%;
		height: 100%;
		border-radius: $item-avatar-border-radius;
	}
}


/**
 * Complex Items
 * --------------------------------------------------
 * Adding .item-complex allows the .item to be slidable and
 * have options underneath the button, but also requires an
 * additional .item-content element inside .item.
 * Basically .item-complex removes any default settings which
 * .item added, so that .item-content looks them as just .item.
 */

.item-complex,
a.item.item-complex,
button.item.item-complex {
	padding: 0;
}
.item-complex .item-content,
.item-radio .item-content {
	position: relative;
	z-index: $z-index-item;
	padding: $item-padding (ceil( ($item-padding * 3) + ($item-padding / 3) ) - 5) $item-padding $item-padding;
	border: none;
	background-color: white;
}

a.item-content {
	display: block;
	color: inherit;
	text-decoration: none;
}

.item-text-wrap .item,
.item-text-wrap .item-content,
.item-text-wrap,
.item-text-wrap h1,
.item-text-wrap h2,
.item-text-wrap h3,
.item-text-wrap h4,
.item-text-wrap h5,
.item-text-wrap h6,
.item-text-wrap p,
.item-complex.item-text-wrap .item-content,
.item-body h1,
.item-body h2,
.item-body h3,
.item-body h4,
.item-body h5,
.item-body h6,
.item-body p {
	overflow: visible;
	white-space: normal;
}
.item-complex.item-text-wrap,
.item-complex.item-text-wrap h1,
.item-complex.item-text-wrap h2,
.item-complex.item-text-wrap h3,
.item-complex.item-text-wrap h4,
.item-complex.item-text-wrap h5,
.item-complex.item-text-wrap h6,
.item-complex.item-text-wrap p {
	overflow: visible;
	white-space: normal;
}