body.mb-modal-visible {
	overflow: hidden;
}

.modal {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: $z-index-modal;
	min-height: 100%;
	width: 100%;
	background-color: $modal-bg;
	color: $modal-color;

	&.mb-hidden {
		transform: translate3d(0,100%,0);
		
		&:not(.mb-hidden-add):not(.mb-hidden-remove) {
			top: -9999px;
			left: -9999px;
		}
	}
}