.popup {
  width: 250px;
  max-width: 100%;
  max-height: 90%;

  border-radius: 4px;
  background-color: #fff;

  display: flex;
  box-direction: normal;
  box-orient: vertical;
  flex-direction: column;
}

.popup-head {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.popup-title {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.popup-sub-title {
  margin: 5px 0 0 0;
  padding: 0;
  font-weight: normal;
  font-size: 11px;
}

.popup-body {
  padding: 10px;
  overflow: auto;
}

.popup-buttons {
  display: flex;
  box-direction: normal;
  box-orient: horizontal;
  flex-direction: row;
  padding: 10px;
  min-height: 45px + 20;

  .button {
    flex: 1;
    display: block;
    min-height: 45px;
    border-radius: 4px;
    line-height: 20px;

    margin-right: 5px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.popup-container {
	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0);
	z-index: $z-index-popup;
  display: flex;
	flex: 1;
	flex-pack: center;
	justify-content: center;
	flex-align: center;
	align-items: center;

  &.mb-hidden {
    display: none;
  }

  &.mb-visible-add {
    animation-play-state: paused;
    &.mb-visible-add-active {
      animation-play-state: running;
    }
  }

  &.mb-visible-remove {
    animation-play-state: paused;
    &.mb-visible-remove-active {
      animation-play-state: running;
    }
  }

  &.mb-visible-add,
  &.mb-visible-add-active {
    animation-name: scaleIn, fadeIn;
  }
  &.mb-visible-remove {
    animation-name: scaleOut, fadeOut;
  }
  &.mb-visible-remove,
  &.mb-visible-add {
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    display: flex;
  }
}