// Colors
// -------------------------------

$light:														#fff;
$dark:														#000;

$brand-light:											$light;
$brand-primary:                   #387ef5 !default;
$brand-success:										#33cd5f !default;
$brand-danger:										#ef473a !default;
$brand-info:											#ffc900 !default;


// Base
// -------------------------------

$font-family-sans-serif:          "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-family-light-sans-serif:    "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$font-family-base:                $font-family-sans-serif !default;
$font-size-base:                  14px !default;
$font-size-large:                 18px !default;
$font-size-small:                 11px !default;

$line-height-base:                1.428571429 !default; // 20/14
$line-height-computed:            floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-large:               1.33 !default;
$line-height-small:               1.5 !default;

$headings-font-family:            $font-family-base !default;
$headings-font-weight:            500 !default;
$headings-line-height:            1.2 !default;

$base-background-color:           #fff !default;
$base-color:                      #000 !default;

$link-color:                      $brand-primary !default;
$link-hover-color:                darken($link-color, 15%) !default;

$content-padding:                 10px !default;

$padding-base-vertical:           6px !default;
$padding-base-horizontal:         12px !default;

$padding-large-vertical:          10px !default;
$padding-large-horizontal:        16px !default;

$padding-small-vertical:          5px !default;
$padding-small-horizontal:        10px !default;

$border-radius-base:              4px !default;
$border-radius-large:             6px !default;
$border-radius-small:             3px !default;


// Grids
// -------------------------------

$grid-padding-width:              10px !default;
$grid-responsive-sm-break:        567px !default;  // smaller than landscape phone
$grid-responsive-md-break:        767px !default;  // smaller than portrait tablet
$grid-responsive-lg-break:        1023px !default; // smaller than landscape tablet


// Tabs
// -------------------------------

$tabs-height:                     49px !default;
$tabs-text-font-size:             14px !default;
$tabs-text-font-size-side-icon:   10px !default;
$tabs-icon-size:                  32px !default;
$tabs-badge-padding:              1px 6px !default;
$tabs-badge-font-size:            12px !default;

$tabs-default-bg:									darken(#fff, 8%);
$tabs-default-border-color:				darken($tabs-default-bg, 10%);
$tabs-default-color:							#000;

$tab-item-max-width:              150px !default;

$tabs-off-opacity:                0.4 !default;
$tabs-striped-off-opacity:        $tabs-off-opacity !default;
$tabs-striped-off-color:          #000 !default;
$tabs-striped-border-width:       2px !default;

$tabs-danger-bg:									$brand-danger;
$tabs-danger-border-color:				$tabs-danger-bg;
$tabs-danger-color: 							#fff;

$tabs-success-bg:									$brand-success;
$tabs-success-border-color:				$tabs-success-bg;
$tabs-success-color: 							#fff;

$tabs-info-bg:										$brand-info;
$tabs-info-border-color:					$tabs-info-bg;
$tabs-info-color: 								#fff;

$tabs-primary-bg:									$brand-primary;
$tabs-primary-border-color:				$tabs-primary-bg;
$tabs-primary-color: 							#fff;

$tabs-light-bg:										$brand-light;
$tabs-light-border-color:					darken($tabs-light-bg, 30%);
$tabs-light-color: 								lighten($dark, 60%);


// Item
// -------------------------------

$item-border-width:								1px !default;
$item-padding:										16px !default;

$item-default-bg:									#fff !default;
$item-default-bg-active:					darken($item-default-bg, 10%) !default;

// Icon
$item-icon-font-size:             32px !default;
$item-icon-fill-font-size:        28px !default;

// Divider
$item-divider-bg:                 #f5f5f5 !default;
$item-divider-color:              #222 !default;
$item-divider-padding:            5px 15px !default;

// Avatar
$item-avatar-width:               40px !default;
$item-avatar-height:              40px !default;
$item-avatar-border-radius:       50% !default;

$item-danger-bg:									$brand-danger;
$item-danger-border-color:				$item-danger-bg;
$item-danger-color: 							#fff;

$item-success-bg:									$brand-success;
$item-success-border-color:				$item-success-bg;
$item-success-color: 							#fff;

$item-info-bg:										$brand-info;
$item-info-border-color:					$item-info-bg;
$item-info-color: 								#fff;

$item-primary-bg:									$brand-primary;
$item-primary-border-color:				$item-primary-bg;
$item-primary-color: 							#fff;

$item-light-bg:										$brand-light;
$item-light-border-color:					darken($item-light-bg, 30%);
$item-light-color: 								lighten($dark, 60%);


// Forms
// -------------------------------

$input-height-base:               ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:              (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:              (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

$input-bg:                        $light !default;
$input-bg-disabled:               darken($input-bg, 15%) !default;

$input-color:                     #111 !default;
$input-border:                    darken(#fff, 10%) !default;
$input-border-width:              $item-border-width !default;
$input-label-color:               $dark !default;
$input-color-placeholder:         lighten($dark, 80%) !default;


// Toggle
// -------------------------------

$toggle-width:                    51px !default;
$toggle-height:                   31px !default;
$toggle-border-width:             2px !default;
$toggle-border-radius:            20px !default;

$toggle-handle-width:             $toggle-height - ($toggle-border-width * 2) !default;
$toggle-handle-height:            $toggle-handle-width !default;
$toggle-handle-radius:            $toggle-handle-width !default;
$toggle-handle-dragging-bg-color: darken(#fff, 5%) !default;

$toggle-off-bg-color:             #fff !default;
$toggle-off-border-color:         #e6e6e6 !default;

$toggle-transition-duration:      .3s !default;

$toggle-hit-area-expansion:   5px;


// Range
// -------------------------------

$range-track-height:              2px !default;
$range-slider-width:              28px !default;
$range-slider-height:             28px !default;
$range-slider-border-radius:      50% !default;
$range-icon-size:                 24px !default;
$range-slider-box-shadow:         0 0 2px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,0.2) !default;

$toggle-handle-off-bg-color:      #fff !default;
$toggle-handle-on-bg-color:       $toggle-handle-off-bg-color !default;

$range-default-track-bg:          #ccc !default;

$range-success-track-bg:					$brand-success;
$range-danger-track-bg:						$brand-danger;
$range-info-track-bg:							$brand-info;
$range-primary-track-bg:					$brand-primary;
$range-light-track-bg:						darken($brand-light, 6%);


// Card
// -------------------------------

$card-header-bg:                  #F5F5F5 !default;
$card-body-bg:                    #fff !default;
$card-footer-bg:                  #F5F5F5 !default;

$card-padding:                    10px !default;
$card-border-width:               1px !default;

$card-border-color:               #ccc !default;
$card-border-radius:              2px !default;
$card-box-shadow:                 0 1px 3px rgba(0, 0, 0, .3) !default;


// Checkbox
// -------------------------------

$checkbox-width:									28px !default;
$checkbox-height:									28px !default;
$checkbox-border-radius:					$checkbox-width !default;
$checkbox-border-width:						1px !default;

$checkbox-off-border-default:     #ddd !default;
$checkbox-on-bg-default:          #387ef5 !default;
$checkbox-on-border-default:      $checkbox-on-bg-default !default;
$checkbox-off-bg-color:						#fff !default;

$checkbox-check-width:            1px !default;
$checkbox-check-color:            #fff !default;


// Sidenav
// -------------------------------

$sidenav-width: 									80% !default;
$sidenav-bg:											#fff !default;


// Backdrop
// -------------------------------

$backdrop-bg:											rgba(0,0,0,0.5) !default;


// Modal
// -------------------------------

$modal-bg:												#fff !default;
$modal-color:											#000 !default;


// Button
// -------------------------------

$button-color:										#000 !default;
$button-block-margin:             10px !default;
$button-clear-padding:            6px !default;
$button-border-radius:            2px !default;
$button-border-width:             1px !default;

$button-bg:												#fff !default;
$button-active-bg:								darken($button-bg, 8%) !default;
$button-border:										darken($button-bg, 13%) !default;

$button-font-size:                16px !default;
$button-height:                   42px !default;
$button-padding:                  12px !default;
$button-icon-size:                139% !default;

$button-large-font-size:          20px !default;
$button-large-height:             54px !default;
$button-large-padding:            16px !default;
$button-large-icon-size:          32px !default;

$button-small-font-size:          12px !default;
$button-small-height:             28px !default;
$button-small-padding:            4px !default;
$button-small-icon-size:          16px !default;

$button-bar-button-font-size:     13px !default;
$button-bar-button-height:        32px !default;
$button-bar-button-padding:       6px !default;
$button-bar-button-icon-size:     20px !default;

$button-default-bg:								#fff;
$button-default-border-color:			darken($button-default-bg, 12%);

$button-danger-bg:								$brand-danger;
$button-danger-border-color:			$button-danger-bg;
$button-danger-color: 						#fff;

$button-success-bg:								$brand-success;
$button-success-border-color:			$button-success-bg;
$button-success-color: 						#fff;

$button-info-bg:									$brand-info;
$button-info-border-color:				$button-info-bg;
$button-info-color: 							#fff;

$button-primary-bg:								$brand-primary;
$button-primary-border-color:			$button-primary-bg;
$button-primary-color: 						#fff;

$button-light-bg:									$brand-light;
$button-light-border-color:				darken($button-light-bg, 30%);
$button-light-color: 							lighten($dark, 60%);


// Bar
// -------------------------------

$bar-height:                      44px !default;
$bar-title-font-size:             17px !default;
$bar-padding-portrait:            5px !default;
$bar-padding-landscape:           5px !default;
$bar-transparency:                1 !default;

$bar-footer-height:               $bar-height !default;
$bar-subheader-height:            $bar-height !default;
$bar-subfooter-height:            $bar-height !default;

$bar-default-bg:                  #fff !default;
$bar-default-color:               #000 !default;
$bar-default-border-color:        darken($bar-default-bg, 10%) !default;
$bar-default-active-bg:           $bar-default-bg !default;
$bar-default-active-border:       $bar-default-bg !default;

$bar-primary-bg:                  $brand-primary !default;
$bar-primary-color:               #fff !default;
$bar-primary-border-color:        $bar-primary-bg !default;
$bar-primary-active-bg:           $bar-primary-bg !default;
$bar-primary-active-border:       $bar-primary-bg !default;

$bar-danger-bg:										$brand-danger;
$bar-danger-border-color:					$bar-danger-bg;
$bar-danger-color: 								#fff;

$bar-success-bg:									$brand-success;
$bar-success-border-color:				$bar-success-bg;
$bar-success-color: 							#fff;

$bar-info-bg:											$brand-info;
$bar-info-border-color:						$bar-info-bg;
$bar-info-color: 									#fff;

$bar-primary-bg:									$brand-primary;
$bar-primary-border-color:				$bar-primary-bg;
$bar-primary-color: 							#fff;

$bar-light-bg:										$brand-light;
$bar-light-border-color:					darken($bar-light-bg, 30%);
$bar-light-color: 								lighten($dark, 60%);


// Z-Indexes
// -------------------------------

$z-index-bar-title:					0 !default;
$z-index-bar-button:				1 !default;
$z-index-item:              0 !default;
$z-index-backdrop:          9 !default;
$z-index-bar:               10 !default;
$z-index-popup:      	      10 !default;
$z-index-sidenav:           10 !default;
$z-index-modal:           	10 !default;
$z-index-tabs:              10 !default;
$z-index-item-radio:				10 !default;