@import url("../../lib/mobie.css");
.my-custom-component {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 4px;
	z-index: 10;
}
.my-custom-component.mb-hidden {
	top: -9999px;
	left: -9999px;
}
.my-custom-component.mb-visible,
.my-custom-component.mb-visible-add,
.my-custom-component.mb-visible-remove,
.my-custom-component.mb-hidden-add,
.my-custom-component.mb-hidden-remove {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}